<div class="datatable-contents">
    <div class="mb-5 table-header">
        <h4>historical exchange rates:</h4>
        <button class="logout-btn" (click)="logout()"><span class="btn-name">logout</span> <span class="pi pi-sign-out ms-1"></span></button>
    </div>
    <div class="hist-input mb-5">
        <div class="date-picker-container">
            <h6>Select Date:</h6>
            <p-datepicker [formControl]="dateControl" [maxDate]="maxDate" class="date-picker"/>
        </div>
        <div class="source-container">
            <h6>Base currency:</h6>
            <p-select [formControl]="selectedCurrency" [options]="currencies"
                optionLabel="name" placeholder="United States Dollar (USD)" class="source"/>
        </div>
        <button class="fetch-btn" (click)="fetchHistoricalData()"><span class="btn-name">Fetch</span> <span class="pi pi-arrow-circle-down"></span></button>
    </div>
    <p-table
            [value]="computedRates"
            [paginator]="true"
            [rows]="10"
            [rowsPerPageOptions]="[5, 10, 15]"
        >
            <ng-template #header>
                <tr>
                    <th pSortableColumn="name">Currency Name <p-sortIcon field="name" /></th>
                    <th pSortableColumn="sourceCode">Source Code <p-sortIcon field="sourceCode" /></th>
                    <th pSortableColumn="currencyCode">Currency Code <p-sortIcon field="currencyCode" /></th>
                    <th pSortableColumn="rate">Rate <p-sortIcon field="rate" /></th>
                </tr>
            </ng-template>
            <ng-template #body let-rate>
                <tr>
                    <td>{{ rate.name }}</td>
                    <td>{{ rate.sourceCode }}</td>
                    <td>{{ rate.currency }}</td>
                    <td>{{ rate.rate }}</td>
                </tr>
            </ng-template>
    </p-table>
</div>