.table-header {
    display: flex;
    justify-content: space-between;
}

.datatable-contents {
    padding: 1rem;
}

.hist-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-picker-container, .source-container {
    width: 30%;
}

.fetch-btn {
    width: 15%;
    align-self: center;
    background:  #1d1a1a;
    color:  white;
    padding: 0.5rem 1rem;
    border: 2px solid #FFDF00;
    font-size: 1rem;
    border-radius: 10px;
    font-weight: 500;
    align-self: flex-end;
}

.logout-btn {
    background:  #1d1a1a;
    color:  #FFDF00;
    padding: 0.5rem 1rem;
    border: 2px solid rgb(209, 209, 209);
    border-radius: 10px;
}

.date-picker {
    border: 2px solid rgb(209, 209, 209);
    border-radius: 0.3rem;
    padding: 0.7rem;
}

.source {
    width: 100%;
    border: 1px solid rgb(209, 209, 209);
    padding: 0.5rem;
    border-radius: 0.3rem;
}

:host ::ng-deep .p-datepicker-panel	{
    background: rgb(230, 209, 182);
    color: black;
}

:host ::ng-deep .p-select-option{
    background: rgb(230, 209, 182);
    color: black;
}

:host ::ng-deep .p-select-list-container {
    background: black;
}

:host ::ng-deep .p-paginator-page {
    padding: 5px;
}

@media screen and (max-width: 650px) {
   .hist-input {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .date-picker-container, .source-container {
        width: 90%;
        margin-bottom: 1.5rem;
        align-self: self-start;

    }

    .fetch-btn {
        width: 25%;
        align-self: self-start;
    }
}