<div class="dashboard">
    <h1 class="link text-logo large-logo"><span class="pi pi-chart-line"></span> MonEx</h1>
    <h3 class="link text-logo small-logo"><span class="pi pi-chart-line"></span> MonEx</h3>
    <div class="dash-container">
        <div class="dash-item chart">
            <data-table [currencies]="currencies"></data-table>
        </div>
        <div class="dash-item converter">
            <converter [currencies]="currencies"></converter>
        </div>
        <div class="dash-item count">
            <h4>API  Call Count:</h4>
            <h1 class="count-val">12</h1>
        </div>
    </div>
</div>