<div class="converter">
    <div class="convert mt-3">
        <form [formGroup]="formGroup!" class="source-target">
            <p-select formControlName="selectedCity" [options]="currencies" 
                optionLabel="name" placeholder="source" class="source"/>
            <p-select formControlName="selectedCity" [options]="currencies" 
                optionLabel="name" placeholder="target" class="target"/>
        </form>
    </div>
    <input type="number" placeholder="0.00 USD" class="amount">
    <div class="result mt-5">
        <h4>Result:</h4>
        <h1 class="result-value">450 USD</h1>
    </div>
</div>